@{
  Layout = "_Layout";
}

@using AnniesAnesthesia.Models;

<h1>Doctors</h1>

@if (@Model.Count == 0)
{
  <h3>No doctors have been added yet!</h3>
}

<table>
  <tr>
    <th>Doctor</th>
    <th>Patients</th>
  </tr>
  @foreach (Doctor doctor in Model)
  {
    <tr>
      <td>@Html.ActionLink($"{doctor.Name}", "Details", new { id = doctor.DoctorId })</td>
      <td>@ViewBag.PatientCount</td>
    </tr>
  }
</table>

<p>@Html.ActionLink("Add new doctor", "Create")</p>